In [1]:
import pandas as pd
import numpy as np

In [65]:
len_data = pd.read_csv("length_df_final.csv")
syll_data = pd.read_csv("syl_df_data.csv")

In [66]:
syll_data

,Unnamed: 0,Word1,Word2,Word1_Syll,Word2_Syll,Freq_Per_Mil1,Log_Freq_Per_Mil1,Freq_Per_Mil2,Log_Freq_Per_Mil2,Syll_Delta,Freq_Delta
0,0,precipitous,steep,4,1,0.12,0.8451,2.45,2.1004,3,-1.2553
1,1,abrupt,steep,2,1,1.14,1.7709,2.45,2.1004,1,-0.3295
2,2,mystical,mysterious,3,4,2.82,2.1614,15.00,2.8842,1,0.7228
3,3,dim,mysterious,1,4,4.76,2.3874,15.00,2.8842,3,0.4968
4,4,secret,mysterious,2,4,109.51,3.7471,15.00,2.8842,2,-0.8629
...,...,...,...,...,...,...,...,...,...,...,...
4789,4789,account,value,2,2,44.71,3.3581,21.51,3.0406,0,-0.3175
4790,4790,relate,detail,2,2,4.75,2.3856,19.39,2.9956,0,0.6100
4791,4791,braid,lace,1,1,0.94,1.6902,3.71,2.2788,0,0.5886
4792,4792,groom,prepare,1,2,7.82,2.6021,33.55,3.2335,1,0.6314
4793,4793,intimidate,bully,4,2,1.71,1.9445,7.22,2.5670,2,-0.6225

In [69]:
def commonality_len(word1_len, word2_len):
    commonality = []
    n = 0

    for index, row in len_data.iterrows():
        if row['Word1_Length'] == word1_len: 
            if row['Word2_Length'] == word2_len:
                commonality.append(row["Freq_Per_Mil2"]/row["Freq_Per_Mil1"])
                n+=1 

    return("a word of length " + str(word2_len) + " is on avg " + str(sum(commonality)/len(commonality)) + "x more frequent than a word of length " +str(word1_len) + " for " + str(n) +" pairs")

In [70]:
print(commonality_len(4,3))
print(commonality_len(5,3))
print(commonality_len(6,3))
print(commonality_len(7,3))
print(commonality_len(8,3))

print(commonality_len(5,4))
print(commonality_len(6,4))
print(commonality_len(7,4))
print(commonality_len(8,4))

print(commonality_len(6,5))
print(commonality_len(7,5))
print(commonality_len(8,5))

print(commonality_len(7,6))
print(commonality_len(8,6))

print(commonality_len(8,7))

a word of length 3 is on avg 24.259577591040234x more frequent than a word of length 4 for 67 pairs
a word of length 3 is on avg 100.57858982105742x more frequent than a word of length 5 for 84 pairs
a word of length 3 is on avg 184.15237766394628x more frequent than a word of length 6 for 81 pairs
a word of length 3 is on avg 5691.183237146328x more frequent than a word of length 7 for 43 pairs
a word of length 3 is on avg 364.84129247386437x more frequent than a word of length 8 for 31 pairs
a word of length 4 is on avg 40.96126204929767x more frequent than a word of length 5 for 282 pairs
a word of length 4 is on avg 83.25216332992481x more frequent than a word of length 6 for 240 pairs
a word of length 4 is on avg 643.1116282506091x more frequent than a word of length 7 for 173 pairs
a word of length 4 is on avg 191.33738054302916x more frequent than a word of length 8 for 159 pairs
a word of length 5 is on avg 69.71708853769066x more frequent than a word of length 6 for 282 pairs
a word of length 5 is on avg 74.52704043785386x more frequent than a word of length 7 for 193 pairs
a word of length 5 is on avg 132.60101348136448x more frequent than a word of length 8 for 179 pairs
a word of length 6 is on avg 44.80083169365486x more frequent than a word of length 7 for 226 pairs
a word of length 6 is on avg 31.030655308547225x more frequent than a word of length 8 for 184 pairs
a word of length 7 is on avg 14.802389483924893x more frequent than a word of length 8 for 195 pairs